<p><center> <h5 class="display-6">Protect your secrets in code with <a href="https://s3cr3tx.com/">s3cr3tx</a></h5></center>
</p>
<br />
<p>
    <center> <h5 class="display-6">Python, Java, C#.NET, Go, and NodeJS code examples using s3cr3tx are on <a href="https://github.com/GratitechInc">GitHub</a></h5></center>
</p>
<br />
<p>
    <center> 
        <h5 class="display-6">Using s3cr3tx in <a href="https://github.com/GratitechInc/s3cr3txPythonDemo" target="_blank">Python</a> : </h5>
    <br/>
    &nbsp;
    <br/>
    <img src="~/s3cr3txPython3.png"/>
    </center>
</p>
<br />
<p>
    <center>
        <h5 class="display-6">Using s3cr3tx in <a href="https://github.com/GratitechInc/s3cr3txCSharpDemo" target="_blank">C#.NET</a> : </h5>
        <br />
        &nbsp;
        <br />
        <img src="~/s3cr3txCSharp.png" />
    </center>
</p>
<br />
<p>
    <center>
        <h5 class="display-6">Using s3cr3tx in <a href="https://github.com/GratitechInc/s3cr3txJavaDemo" target="_blank">Java</a> : </h5>
        <br />
        &nbsp;
        <br />
        <img src="~/s3cr3txJava.png" />
    </center>
</p>
<br />
<p>
    <center>
        <h5 class="display-6">Using s3cr3tx in <a href="https://github.com/GratitechInc/s3cr3txGoTestApp" target="_blank">Go</a> : </h5>
        <br />
        &nbsp;
        <br />
        <img src="~/s3cr3txGo.png" />
    </center>
</p>
<br />
<p>
    <center>
        <h5 class="display-6">Using s3cr3tx in <a href="https://github.com/GratitechInc/s3cr3txNodeJSDemo" target="_blank">NodeJS</a> : </h5>
        <br />
        &nbsp;
        <br />
        <img src="~/s3cr3txNodeJS.png" />
    </center>
</p>
<br/>
<br/>