<li class="nav-item dropdown" style="background-color:black;color:white">
<a class="nav-link dropdown-toggle" style="background-color:black;color:white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Member Profile
    </a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:black;color:white">
    <a class="dropdown-item" href="https://s3cr3tx.com/" style="background-color:black;color:white">Home</a>
    <a class="dropdown-item" href="https://s3cr3tx.com/Profile" style="background-color:black;color:white">Profile</a>
    <a class="dropdown-item" href="https://s3cr3tx.com/API_Info" style="background-color:black;color:white">API-Info</a>
    <a class="dropdown-item" href="https://s3cr3tx.com/Forgot" style="background-color:black;color:white">Change Password</a>
    <a class="dropdown-item" href="https://s3cr3tx.com/Logout" style="background-color:black;color:white">Sign out</a>

</div>
    </li>
