<li class="nav-item dropdown" style="background-color:black;color:white">
<a class="nav-link dropdown-toggle" style="background-color:black;color:white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Members
    </a>
<div class="dropdown-menu" style="background-color:black;color:white" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" style="background-color:black;color:white" href="https://s3cr3tx.com/Login">Login</a>
        <a class="dropdown-item" style="background-color:black;color:white" href="https://s3cr3tx.com/Register" target="_blank">Register</a>

</div>
    </li>
