@page
@model LogoutModel
@{
    ViewData["Title"] = "You have been signed out of s3cr3tx";
}
@section Members{
    <partial name="_LoginRegisterPartial" />
}
<h1>Thank you for visiting s3cr3tx.</h1>
<br/>
<h2>You have been signed out of s3cr3tx</h2>
@section sitescripts{
    <partial name="_SiteScriptsPartial" />
}