@page
@model s3cr3tx.Pages.ProfileModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "s3cretx Home page";
}
@section Login{
    <partial name="_LoginPartial" />
}
<div class="text-center">
    <center> <h1 class="display-4">Your s3cr3tx profile information is below</h1></center>
    <form asp-page-handler="view" formaction="post">
        <center>
            <table>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>@Model._output</td> <!--<label id="lblOutput" asp-for="_member.message"></label></td>-->
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblEmail">First Name: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtEmail" asp-for="_member.FirstName" class="form-control" maxlength="256" />
                        <span asp-validation-for="_member.FirstName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblToken">Last Name:&nbsp;</label>
                    </td>
                    <td>
                        <input id="txtToken" maxlength="256" asp-for="_member.LastName" class="form-control" />
                        <span asp-validation-for="_member.LastName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblToken">Email: &nbsp;</label>
                    </td>
                    <td>
                        @Model._member.email
                        <input id="txtDirection" asp-for="_member.email" maxlength="256" class="form-control" hidden="hidden" />

                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">Mobile Phone: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.mobile" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.mobile" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">Mobile Carrier: &nbsp;</label>
                    </td>
                    <td>
                        @Html.DropDownList("_member.MobileCarrier", Models.helpers.PossibleCarriers(Model._member.MobileCarrier), new { id = "_member.MobileCarrier", @class = "form-control", style = "width:70px;" })
                        <span asp-validation-for="_member.MobileCarrier" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">Gender: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.gender" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.gender" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">Address: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.address" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.address" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">Address2: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.address2" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.address2" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">City: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.city" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.city" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">State: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.state" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.state" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">Zip Code: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.zipcode" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.zipcode" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblDirection">Order Number: &nbsp;</label>
                    </td>
                    <td>
                        <input id="txtDirection" asp-for="_member.orderNumber" maxlength="256" class="form-control" />
                        <span asp-validation-for="_member.orderNumber" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <label id="lblInput">&nbsp;</label>
                    </td>
                    <td>
                        <input id="btnSubmit" type="submit" class="form-control" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>@Model._output</td>
                </tr>
            </table>
        </center>
        <br />
    </form>
</div>
@section sitescripts{
    <partial name="_SiteScriptsPartial" />
}
@*@section scripts{
<partial name="_ValidationScriptsPartial"/>
}*@