@page
@model ValidateModel
@{
    ViewData["Title"] = "Thank you for confirming your s3cr3tx account";
}
@section Members{
    <partial name="_LoginRegisterPartial" />
}
<h1>Thank you for confirming your s3cr3tx account.</h1>
<h2>You can <a href="https://s3cr3tx.com/Login">sign-in</a> to s3cr3tx now</h2>
@section sitescripts{
    <partial name="_SiteScriptsPartial" />
}